<!-- Start Separator-Quotes -->
<section>
    <div class="text-center relative">
        <div class="parallax-overlay"></div>
        <div class="quotes liquid-slider separator">
            <div class="col-lg-12">
                <h3>
                    <i class="fa fa-quote-left highlight"></i>
                    [[#DESIGNER_MODE]]
	                    <div class="ttDesigner-region-label">QUOTES</div>
                    [[/DESIGNER_MODE]]
                    [[&CHILD-FLOW-QUOTE]]
                    <i class="fa fa-quote-right highlight"></i>
                </h3>
                <p>
                    [[#DESIGNER_MODE]]
	                    <div class="ttDesigner-region-label">QUOTES BY</div>
                    [[/DESIGNER_MODE]]
                    [[&CHILD-FLOW-QUOTE-BY]]
               	</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- End Separator-Quotes -->