			<!-- Start Price List -->
			<section id="price-list">
				<div class="container">
					<div class="col-lg-12 section-title-price wow flipInX">
						<h2>
							<small>
								Our Latest Offers
							</small>
						</h2>
						<p class="lead">
							Pick a plan that
							<span class="highlight">
								best suits
							</span>
							your needs.
						</p>
					</div>
					<div class="price-container">
						<div class="row">
							<div class="col-md-4 col-sm-4 wow flipInY">
								<div class="price-box text-center">
									<div class="price-box-info">
										<h2>
											Free
										</h2>
										<h2>
											0
											<span>
												$
											</span>
											<small>
												/mon.
											</small>
										</h2>
									</div>
									<div class="price-box-offer">
										<ul class="offer-list">
											<li>
												<span>
													Full
												</span>
												Email Support
											</li>
											<li>
												<span>
													25
												</span>
												Projects
											</li>
											<li>
												<i class="icon ion-close-round">
												</i>
											</li>
											<li>
												<i class="icon ion-close-round">
												</i>
											</li>
										</ul>
									</div>
									<div class="sign-up-btn">
										<a href="#"><button type="button" class="btn btn-primary">Sign Up Now</button></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 wow flipInX">
								<div class="price-box-big text-center">
									<div class="price-box-info">
										<h1>
											Pro
										</h1>
										<h2>
											25
											<span>
												$
											</span>
											<small>
												/mon.
											</small>
										</h2>
									</div>
									<div class="price-box-offer">
										<ul class="offer-list">
											<li>
												<span>
													Full
												</span>
												Email Support
											</li>
											<li>
												<span>
													Unlimited
												</span>
												Projects
											</li>
											<li>
												<span>
													Unlimited
												</span>
												Users
											</li>
											<li>
												<span>
													1000GB
												</span>
												Storage
											</li>
										</ul>
									</div>
									<div class="sign-up-btn">
										<a href="#"><button type="button" class="btn btn-primary btn-lg">Sign Up Now</button></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4 wow flipInY">
								<div class="price-box text-center">
									<div class="price-box-info">
										<h2>
											Basic
										</h2>
										<h2>
											15
											<span>
												$
											</span>
											<small>
												/mon.
											</small>
										</h2>
									</div>
									<div class="price-box-offer">
										<ul class="offer-list">
											<li>
												<span>
													Full
												</span>
												Email Support
											</li>
											<li>
												<span>
													Unlimited
												</span>
												Projects
											</li>
											<li>
												<span>
													Unlimited
												</span>
												Users
											</li>
											<li>
												<span>
													500GB
												</span>
												Storage
											</li>
										</ul>
									</div>
									<div class="sign-up-btn">
										<a href="#"><button type="button" class="btn btn-primary">Sign Up Now</button></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Price List -->
