			<!-- Start Separator-Quotes -->
			<section id="separator-quotes" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row text-center" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="quotes liquid-slider" id="separator-slider-1">
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									A Perfect Design is
								</small>
								Passion, Dedication,
								<small class="white">
									and a lots of Coffee
								</small>
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								ORIGIN / DESIGN TEAM
							</p>
						</div>
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									The Difference between ordinary and extraordinary is
								</small>
								just that little extra
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								ALBERT EINSTEIN
							</p>
						</div>
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								The Desire to Create
								<small class="white">
									is One of the Deepest Yearnings of the Human Soul
								</small>
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								DIETER F. UCHTDORF
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator-Quotes -->
