[[#DESIGNER]]
<div class="ttDesigner-widget-label"><div>
bs3_row [[#property.id]]#[[property.id]]: [[/property.id]] [[property.class]]
</div></div>
[[/DESIGNER]]
[[^DESIGNER]]
ROW 1
<div id="[[property.id]]" class="row [[property.class]]">
ROW 2
[[/DESIGNER]]
	[[&CHILD-FLOW]]
[[^DESIGNER]]
ROW 3
</div>
ROW 4
[[/DESIGNER]]
