			<!-- Start Separator Video -->
			<section id="separator-video" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="container">
					<div class="row">
						<div class="col-md-6 separator-video-content wow flipInX">
							<h2 class="video-info">
								We're Creative
							</h2>
							<br>
							<p class="p-info">
								Fusce faucibus tincidunt nulla, tincidunt sagittis magna venenatis quis. Proin commodo eu ipsum eu suscipit. In dapibus arcu sit amet imperdiet posuere. Praesent condimentum nulla at mauris ornare, eget
								consequat felis euismod.
							</p>
							<p class="p-info">
								Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis viverra purus tristique. Integer lobortis erat in placerat fermentum. Sed luctus varius leo ac posuere. Integer eget est vitae
								dolor.
							</p>
							<p class="p-info">
								Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis viverra purus tristique. Integer lobortis erat in placerat fermentum. Sed luctus varius leo ac posuere. Integer eget est vitae
								dolor.
							</p>
						</div>
						<div class="col-md-6 fluid-width-video-wrapper">
							<div class="video-container">
								<iframe src="http://www.youtube.com/embed/kZo9-nK2wFo" frameborder="0" width="560" height="315">
								</iframe>
								<!-- Replace just numbers of video link -->
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator Video -->
