[[#DESIGNER_MODE]]
	<div class="ttDesigner-region-label">CALL TO ACTION BUTTON MEDIUM</div>
[[/DESIGNER_MODE]]
<div class="cleafix"></div>
<div class="cta-btn-medium">
	[[&CHILD-FLOW-BUTTON-MEDIUM]]
</div>