<div id="tt-new-widget">
			<!-- Start Who We Are -->
			<section id="who-we-are" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row" style="position:relative;">
					<div class="parallax-overlay">
					</div>

					<div class="container">
						<div class="col-md-6 col-we-are wow flipInX">
							<h2 class="we-are-info">
								Does it Work?
							</h2>
                            <h4>
								<br>
								<small class="highlight">
									Ohhhh yeah...
								</small>
                            </h4>
							<br>
							<p class="p-info">
								We have reputation for taking on difficult projects and making them work.
							</p>
							<p class="p-info">
                                The founders of this company have been "<i>Quietly doing the Hard Stuff</i>"
                                for thirty years, in many countries around the world.

                                Our 
                                <small class="highlight">skite wall</small>
                                highlights a some of our most recent sucesses.
							</p>
						</div>
                        <!--
						<div class="col-md-6 col-md-skills wow flipInX">
							<div class="skills-col">
								<p>
									<em>
										User Experience
									</em>
								</p>
								<div class="skillbar" data-percent="85%">
									<div class="skillbar-title">
										<span>
											85%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Web & Mobile Design
									</em>
								</p>
								<div class="skillbar" data-percent="100%">
									<div class="skillbar-title">
										<span>
											100%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Branding
									</em>
								</p>
								<div class="skillbar" data-percent="64%">
									<div class="skillbar-title">
										<span>
											64%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Fun
									</em>
								</p>
								<div class="skillbar" data-percent="50%">
									<div class="skillbar-title">
										<span>
											50%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
							</div>
						</div>
						-->
					</div>
				</div>
			</section>
			<!-- End Who We Are -->
</div>
