<!--Start About-->
<section id="roles">
    <div class="container content">
        <div class="col-lg-12 section-title-about wow flipInX">
            [[#DESIGNER_MODE]]
	            <div class="ttDesigner-region-label">ROLES HEADING</div>
            [[/DESIGNER_MODE]]
            [[&CHILD-FLOW-ROLES-HEADING]]
        </div>


        <div class="Zrow Zwow ZflipInX">
            <div class="col-md-6 col-sm-6">
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">ROLES SUB HEADING 1</div>
                [[/DESIGNER_MODE]]
                [[&CHILD-FLOW-ROLES-SUB-HEADING-1]]
                <div class="cleafix"></div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-network ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 1</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-1]]
                    </div>
                </div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-android-cloud-done ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 2</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-2]]
                    </div>
                </div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-soup-can ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 3</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-3]]
                    </div>
                </div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-locked ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 4</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-4]]
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">ROLES SUB HEADING 2</div>
                [[/DESIGNER_MODE]]
                [[&CHILD-FLOW-ROLES-SUB-HEADING-2]]
                <div class="cleafix"></div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-help-buoy ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 5</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-5]]
                    </div>
                </div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-monitor ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 6</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-6]]
                    </div>
                </div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-headphone ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 7</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-7]]
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">ROLES SUB HEADING 3</div>
                [[/DESIGNER_MODE]]
                [[&CHILD-FLOW-ROLES-SUB-HEADING-3]]
                <div class="cleafix"></div>
                <div class="about-row wow flipInX">
                    <div class="about-icon">
                        <i class="icon ion-filing ion-3x highlight">
                        </i>
                    </div>
                    <div class="about-info">
                        [[#DESIGNER_MODE]]
	                        <div class="ttDesigner-region-label">ROLES 8</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ROLES-8]]
                        <div class="row">
                            <div class="col-md-6">
                                [[&CHILD-FLOW-ROLES-8-col-1]]
                            </div>
                            <div class="col-md-6">
                                [[&CHILD-FLOW-ROLES-8-col-2]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About-->
