			<!-- Start Marvin -->
			<section id="who-we-are" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="container">
						<div class="col-md-12 col-we-are wow flipInX">
							<h3 class="we-are-info">
								Marvin - a dozen specialists in one body.
								<br>
								<!--
								<small class="highlight">
									Crafting With Love
								</small>
								-->
							</h3>
                        </div>

			                    <div class="col-md-6 p-info alternate-highlight"><li>
									World class web developer.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Programming guru.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Amazing product marketer.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									A fantastic graphic artist.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Knows 497 open source APIs.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Writes killer copy.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Integrates any backend system.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Creates content that goes viral.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Incredible tech support guy.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Social media legend.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									Speaks English, Chinese, Arabic and Swahili.
									</li>
			                    </div>
			                    <div class="col-md-6 p-info alternate-highlight"><li>
									And much more...
									</li>
			                    </div>

						<div class="col-md-12 col-we-are wow flipInX">
							<h3 class="we-are-info">
									<span class="highlight">
									<br>
									<br>
									</span>
									Marvin is awesome. We wish we had a dozen of him.									
									<span class="highlight">
										<!--
										Marvin is awesome. We wish we had a dozen of him.									
										-->
										<br>
										<br>
										Unfortunately we don't, and Marvin will only work 90 hours a week.
									</span>
								</h3>
								
								<!--
								Vivamus a placerat ante. Duis vulputate nibh sit amet augue vehicula, mattis viverra purus tristique. Integer lobortis erat in placerat fermentum. Sed luctus varius leo ac posuere. Integer eget est vitae
								dolor.
								-->

						</div>
						
					</div>
				</div>
			</section>
			<!-- End Marvin -->

