[[#DESIGNER]]
<div class="ttDesigner-widget-label"><div>
bs3_col [[#property.id]]#[[property.id]]: [[/property.id]] [[property.columns]] [[property.class]]
    </div></div>
[[/DESIGNER]]
[[^DESIGNER]]


<div id="[[property.id]]" class="[[property.class]] [[property.columns]]">
[[/DESIGNER]]
[[&CHILD-FLOW]]
[[^DESIGNER]]
    
</div><!-- end col [[property.id]] -->

[[/DESIGNER]]
