/**
 *  Page CSS - always gets included in this page.
 */

/* body tag, only in the ToolTwist designer */
.body-designer {
}

#skills-1 ul {
    background-color: red;
    color: pink;
    margin-bottom: 0px
}

#skills-2 ul {
    margin-bottom: 0px
}

