[[#DESIGNER_MODE]]
	<h3 class="text-center">Navbar</h3>
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
    <!--Start Header-->
    <header id="fixed-navbar" class="header-top" style="z-index=999">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">
                            Toggle navigation
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a class="navbar-brand" rel="home" href="#" title="Zoura."><h3>Tech Elite</h3></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav  navbar-right">
                        <li>
                            <a href="#home-slideshow">Home</a>
                        </li>
                        <li>
                            <a href="#about">About Us</a>
                        </li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li>
                            <a href="#roles">Job Roles</a>
                        </li>
                        <li>
                            <a href="#price">Pricing</a>
                        </li>
                        <li>
                            <a href="#team">Our Team</a>
                        </li>
                        <li>
                            <a href="#careers">Careers</a>
                        </li>
                        <li>
                            <a href="#contact-details">Contact Us</a>
                        </li>
                        <li>
                            <a href="#faq">FAQ</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!--End Header-->
[[/DESIGNER_MODE]]