<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            ToolTwist Controller
            <br>
            <small>
                Publishing
            </small>
        </h4>
        <p class="service-description">
            Scheduled deployment and publishing to websites and digital displays.
        </p>
    </div>
</div>
