					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
							<span class="sr-only">
								Toggle navigation
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
						</button>
						<a class="navbar-brand" rel="home" href="#" title="Zoura."><h3>Zoura</h3></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-nav">
						<ul class="nav navbar-nav  navbar-right">
							<li>
								<a href="#home-slideshow">Home</a>
							</li>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#services">Services</a>
							</li>
							<li>
								<a href="#our-work">Work</a>
							</li>
							<li>
								<a href="#price-list">Price</a>
							</li>
							<li class="dropdown">
								<span class="dropdown-toggle" data-toggle="dropdown">
									Pages
									<b class="caret">
									</b>
								</span>
								<ul class="dropdown-menu text-left">
									<li>
										<a href="blog.html">Blog Home</a>
									</li>
									<li>
										<a href="blog-single.html">Blog Single</a>
									</li>
									<li>
										<a href="404.html">404 Error</a>
									</li>
									<li>
										<a href="coming-1">Coming-soon-1</a>
									</li>
									<li>
										<a href="coming-2">Coming-soon-2</a>
									</li>
									<li>
										<a href="coming-3">Coming-soon-3</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#contact-form">Contact</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
