<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            Twist Resources
            <br>
            <small>
                Quietly doing the Hard Stuff
            </small>
        </h4>
        <p class="service-description">
            Twist Resources is our Philippine based development center.
            We build turnkey solutions with skills spanning a range of technologies and industries.
        </p>
    </div>
</div>
