			<!-- Start Separator-Quotes -->
			<section id="te-are-you-looking" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row text-center" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="quotes liquid-slider" id="te-are-you-looking-slider-1">
						<div class="col-lg-12">
							<h3>
								<small class="white">
                                Are you looking for an
                                </small>
                                industry leading salary,
								<small class="white">
                                working directly with international colleagues located in Australia and New Zealand?
                                </small>

							</h3>
                            <!--
							<p>
								ORIGIN / DESIGN TEAM
							</p>
                            -->
						</div>
						<div class="col-lg-12">
							<h3>
                                <!--
								<i class="fa fa-quote-left highlight">
								</i>
                                -->
								<small class="white">
                                Would you like to
								</small>
                                improve your skills
								<small class="white">
                                and future marketability?
								</small>
							</h3>
						</div>
						<div class="col-lg-12">
							<h3>
								<small class="white">
									Is a better
								</small>
                                work / life balance
								<small class="white">
									appealing to you?
								</small>
							</h3>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator-Quotes -->
