<!-- Start Separator Video -->
<section id="about">
    <div class="container">
        <div class="content-block">
            <div>
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">ABOUT CONTENT</div>
                [[/DESIGNER_MODE]]
                <div>
                	[[&CHILD-FLOW-ABOUT-SECTION-1]]
                </div>
                <div class="about-video">
                    [[#DESIGNER_MODE]]
                    	<div class="ttDesigner-region-label">ABOUT VIDEO</div>
                    [[/DESIGNER_MODE]]
                    [[&CHILD-FLOW-ABOUT-VIDEO]]
                </div>
                <div>
                	[[&CHILD-FLOW-ABOUT-SECTION-2]]
                </div>
                <div>
                	[[&CHILD-FLOW-ABOUT-SECTION-3]]
                </div>
            </div>
        </div>
    </div>
</section>