			<!-- Start Separator Testimonials -->
			<section id="separator-testimonials" data-stellar-background-ratio="0.7">
				<div class="row text-center" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="liquid-slider" style="z-index: 3;" id="testimonials-slider">
						<div class="col-lg-12 testimonials text-center">
							<img class="testimonial-img" src="img/testimonial-1.jpg"/>
							<h4>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									I have been extremely impressed with Zoura. It is a pleasure working
									<br>
									with
								</small>
								<span class="highlight">
									hihly creative
								</span>
								<small class="white">
									and inovative team.
								</small>
								<i class="fa fa-quote-right highlight">
								</i>
							</h4>
							<p>
								Jane Awesome - Big Corp
							</p>
						</div>
						<div class="col-lg-12 testimonials text-center">
							<img class="testimonial-img" src="img/testimonial-2.jpg"/>
							<h4>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									This is now the third time I've worked with Zoura and the service they
									<br>
									provide is amazing.
								</small>
								<span class="highlight">
									Thank you guys!
								</span>
								<i class="fa fa-quote-right highlight">
								</i>
							</h4>
							<p>
								Jack Smith - Spaceship Corp
							</p>
						</div>
						<div class="col-lg-12 testimonials text-center">
							<img class="testimonial-img" src="img/testimonial-3.jpg"/>
							<h4>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									I love Zoura. Absolutely amazing results and experience creating my website.
									<br>
									An environment where you interact with
								</small>
								<span class="highlight">
									incredible talent!
								</span>
								<i class="fa fa-quote-right highlight">
								</i>
							</h4>
							<p>
								John Jackson - Galaxy Corp
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator Testimonials -->