[[#DESIGNER]]
<div class="bs3-size-debugger">SIZE DEBUGGER</div>
[[/DESIGNER]]
[[^DESIGNER]]
<div>
<b>
<!-- Post v3.2.0
<span class="visible-xs-inline">[size: XS]</span>
<span class="visible-sm-inline">[size: SM]</span>
<span class="visible-md-inline">[size: MD]</span>
<span class="visible-lg-inline">[size: LG]</span>
-->
<span class="visible-xs">[size: XS]</span>
<span class="visible-sm">[size: SM]</span>
<span class="visible-md">[size: MD]</span>
<span class="visible-lg">[size: LG]</span>
</b>
</div>
[[/DESIGNER]]
