<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            ToolTwist Cloudmall
            <br>
            <small>
                "Special needs" eCommerce
            </small>
        </h4>
        <p class="service-description">
            An extensible eCommerce engine designed to handle non-standard
            requirements - unusual pricing modesl, integration with external environments
            and embedding within existing systems.
        </p>
    </div>
</div>
