			<!-- Start Clients -->
			<section id="clients">
				<div class="container text-center">
					<div class="col-lg-12 section-title-clients wow flipInX">
						<h2>
							<small>
								Our Satisfied Clients
							</small>
						</h2>
						<p class="lead">
							Digital agency that loves designing
							<span class="highlight">
								great websites.
							</span>
						</p>
					</div>
					<div class="clients-logos">
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_1.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_2.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_3.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_4.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_5.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/cropImage/bs3-examples.img.client_6.png"/></a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Clients -->
