        <!-- Start Separator Video -->
        <section id="te-about-us" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 te-about-us-content wow flipInX">
                    </div>
                    <div class="col-md-10 te-about-us-content wow flipInX">
                        <h2 class="video-info">
                            About Us
                        </h2>
                        <p class="p-info">
                            Are you looking for a <span class="highlight">cost effective</span> way to employ <span class="highlight">quality computer suppport</span> professionals to work directly for your business in Australia or New Zealand?
                        </p>
                        <p>
                            Tech Elite is a specialist information technology (IT) talent provider.
                        </p>
                        <p>
							We work with you to identify the key skills, experience, attitudes and cultural fit you require so that we can then source, test, interview and hire (for you exclusively) the best IT professionals who most closely match your requirement.
                        </p>
 						<p>
                            You will make the decision about whom you wish us to employ and how much you wish to pay.  The professionals you choose will work directly for you, under your management and control.  
                        </p>
                        <p>
							And what’s best is that you can have all this for between 50 and 75 percent less than it would cost you to employ the same staff in Australia or New Zealand.
                        </p>
                        <p>
                            You might be asking how this is even possible.  <a href="#te-services">See more</a> about how this works.
                        </p>  
                        <p>
							“Your current conditions are echoes of your past choices.”  ….. Robin Sharma
                        </p>
                    </div>

[[#SHOW_VIDEO]]
                    <div class="col-md-6 fluid-width-video-wrapper">
                        <div class="video-container">
                            <iframe src="http://www.youtube.com/embed/kZo9-nK2wFo" frameborder="0" width="560" height="315">
                            </iframe>
                            <!-- Replace just numbers of video link -->
                        </div>
                    </div>
[[/SHOW_VIDEO]]
                </div>
            </div>
        </section>
        <!-- End Separator Video -->
