			<!-- Start Separator Call to Action -->
			<section id="separator-purchase" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="container">
					<div class="col-sm-12 call-action-purchase text-center">
						<div class="action-5-info">
							<h3>
								<small>
									Awesome,
								</small>
								easy to use
								<small>
									& the developer is super nice and answers questions quickly!
								</small>
							</h3>
						</div>
						<div class="action-5-btn">
							<a href="#" target="_blank" class="btn btn-primary btn-lg btn-responsive">Buy Now</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator Call to Action -->
