<!--Start FAQs-->
        <section id="te-faqs" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 te-faqs-content wow flipInX">



<!--
			<section id="about">
				<div class="container content">
					<div class="col-lg-12 section-title-about wow flipInX">
-->
						<h2>
							<small>
								Frequently Asked Questions
							</small>
						</h2>
						<p class="lead">
                            1.	I've never worked for an Australian or New Zealand company before?  What is it like?
                        </p>
						<p class="p-info">
Every company is different, whether it is located in your home country or located internationally.  The culture of the country where the company is headquartered, the internal culture within the company itself, the management structure and the individual management styles all make every company culture and job role unique.  Keeping this in mind however, there are many other differences between working for a Filipino company and an Australian or New Zealand company.
As an example, formal education, age and seniority are always given high importance in Filipino companies whereas in most Australian and New Zealand companies performance and results may be far more important than education, age and seniority.
However, you have no need to worry as Tech Elite provides you with a Cultural Alignment Briefing to assist you and your local and international colleagues and managers to understand and integrate more easily.
                        </p>
                            
						<p class="lead">
                            2.	What job roles do Tech Elite hire?
                        </p>
                        <p class="p-info">
                            There are a range of different IT-focused roles that we hire for Australian and New Zealand companies.  See our comprehensive list of typical JOB ROLES (links to CAREERS) that we recruit on behalf of our clients.
                        </p>

                        <p class="lead">
                            3.	How does Tech Elite's recruitment process work?
                        </p>
                        <div class="p-info">
                            Tech Elite likes to ensure your technical skills, soft skills, and attitude are a great match for our clients so we go to
                            great lengths to ensure we find you the most appropriate role to suit your skills, experience and unique personal qualities.
                            Our recruitment process includes the following stages:
                            <ol>
                                <li>
                                <span class="highlight">Resume Filtering</span> - What experience / skills do you say you have?
                                </li>
                                <li><span class="highlight">Self Assessment</span> - We ask you what you believe you are great at?  What is important to you?
                            </ol>
                            <ol start="5">
                                <li><span class="highlight">Primary Technical Testing</span> - What skills do you actually have right now?
                                <li><span class="highlight">English Testing</span> - Do you have the written / conversational skills to meet our client's needs?
                                <li><span class="highlight">Secondary Technical Testing</span> - Some positions require further vetting of your skills.
                                <li><span class="highlight">Psychometric Profiling</span> - Our exclusive profiling system digs much deeper.  It determines what you are actually like for your team to work with?  It will predict how you will perform when you are under pressure?  It will identify your strongest and weakest areas. (we all have them!)  It will also identify what management techniques you typically respond to best?
                                <li><span class="highlight">Client Interview</span> - By this stage we are already confident you can do the job, this interview is just to ensure that you like the client, they like you and that you will fit into their company culture.
                            </ol>
                        </div>

                        <p class="lead">
                            4.	What facilities does Tech Elite provide for me when I start working?
                        </p>
                        <p class="p-info">
                            Tech Elite provides you with first class facilities and whatever tools you need in order to deliver a high quality result to
                            your new company.
                            The standard package provided to all staff when they start with Tech Elite is a larger than industry-standard office desk
                            with a high quality office chair.
                            Some centers we've visited pack in their staff like "battery chickens" and still expect top performances from their team.
                            We know that if we are to attract you, the best IT talent in the market, then your work environment needs to be comfortable
                            and health sensitive.  You need sufficient space and comfort to be able to perform at your peak and be able to work in an
                            environment conducive to being able to produce the best results for you and your new company.  
                            We also provide standard, a quality computer package consisting of a mid to high-end laptop and a 22 inch external monitor.
                            Should you require additional processing power, bigger or higher resolution monitors or any other additional tools,
                            Tech Elite will source and provision this for your on request from your new company.
                        </p>
                        <p class="lead">
                            5.	I don't know anything about Australia or New Zealand or it's culture.  Will this be a problem?
                        </p>
                        <p class="p-info">
                            Although we understand you are fluent in English and that your communication skills are excellent, there are quite a few differences between the Australian and New Zealand culture and the culture of the Philippines that you will need to be aware of in order to communicate and work effectively with your colleagues and management at your new company.  However, you have no need to worry as Tech Elite provides you with a Cultural Alignment Briefing to assist you and your local and international colleagues and managers to understand and integrate more easily.
						</p>
                        <br>
                        <br>
					</div>
                </div>
            </div>
        </section>
        <!--End FAQs-->
