			
			<!--Start About-->
			<section id="about">
[[&CHILD-FLOW-BLAH]]
				<div class="container content">
					<div class="col-lg-2 col-md-2 section-title-about wow flipInX"></div>
					<div class="col-lg-8 col-md-8 section-title-about wow flipInX">
						<h2>
							<small>
								Spanning the Skills
							</small>
						</h2>
                        [[&CHILD-TEXT]]
						<p class="lead">
							Developing Web Applications is requiring a forever increasing number of almost unrelated skills.
							The solution is not to try to find teams Marvins.
						</p>
						<p class="lead">
							Multi-discipline guys are
							<span class="highlight">
							hard to find
							</span>
							,
							<span class="highlight">
							expensive
							</span>
							, and since they
							<span class="highlight">
							lack guru skills
							</span>
							in any discipline,
							the output of such teams is often
							<span class="highlight">
							mediocrity
							</span>.
						</p>
						<p class="lead">
							At Twist, we made it our mission to find
							ways to work without Marvins.
							Below is our tried and proven formula for
							faster <span class="highlight">development times</span>,
							higher <span class="highlight">quality</span>,
							reduced <span class="highlight">costs</span> and
							far less <span class="highlight">pain</span>...
							
						</p>
					</div>
					<div class="row wow flipInX">
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-jet ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										1. Recruiting
										<br>
										<small>
											We Hire Specialists
										</small>
									</h4>
									<p class="about-description">
										We recruit the best guys we can find within each discipline - marketers, programmers, web developers, testers, and devops.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-paper-airplane ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										2. ToolTwist
										<br>
										<small>
											A Skill-integration Toolset
										</small>
									</h4>
									<p class="about-description">
										Our ToolTwist development environment allows these guys to work independently, but brings the pieces together to form a complete solution.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-upload ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										3. Re-Usable Components
										<br>
										<small>
											Stop Reinventing the Wheel
										</small>
									</h4>
									<p class="about-description">
										When we develop something cool, ToolTwist componentizes it so it can be used on other projects. We now have eCommerce engines, social media, retail displays and more.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-heart-broken ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										4. Methodology
										<br>
										<small>
											We Love Agile
										</small>
									</h4>
									<p class="about-description">
										Whether we're developing for ourselves or for our for our customer,
										we are passionate about Agile development practices.
									</p>
								</div>
							</div>
						</div>
						<!--
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-upload ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Passionate
										<br>
										<small>
											Available When You Need Us
										</small>
									</h4>
									<p class="about-description">
										Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet adipiscing metus vel fermentum. Sed velit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Professional
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Integer ornare, tellus eget lobortis cursus, metus enim ultricies eros, vitae porttitor elit sapien quis justo. Duis vitae.
									</p>
								</div>
							</div>
						</div>
						-->
							
					</div>
				</div>
			</section>
			<!--End About-->

