			<!-- Fun Facts -->
			<section id="fun-facts">
				<div class="container">
					<div class="row wow flipInX">
						<div class="col-md-3 col-sm-6 fact-container">
							<div class="fact">
								<span class="counter highlight">
									4246
								</span>
								<p class="lead">
									Satisfied Customers
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 fact-container">
							<div class="fact">
								<span class="counter highlight">
									618
								</span>
								<p class="lead">
									Twenkies Eaten
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 fact-container">
							<div class="fact">
								<span class="counter highlight">
									240
								</span>
								<p class="lead">
									Completed Projects
								</p>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 fact-container">
							<div class="fact">
								<span class="counter highlight">
									96
								</span>
								<p class="lead">
									Winning Awards
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End fun facts -->
