[[#DESIGNER_MODE]]
HOME-PARALLAX-3
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]
			<!-- Start Separator #3 -->
			<section id="separator-3" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="container">
					<div class="row">
						<div class="col-md-6 separator-1-content wow flipInX">
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator #3 -->
[[/DESIGNER_MODE]]
