<section id="careers">
    <div class="container content">
        <div class="col-lg-12 section-title-about wow flipInX animated" style="visibility: visible;">
            [[#DESIGNER_MODE]]
            	<div class="ttDesigner-region-label">CAREERS</div>
            [[/DESIGNER_MODE]]
            [[&CHILD-FLOW-CAREERS]]
        </div>
    </div>
</section>