			<!-- Start Contact Form -->
			<section id="contact-form">
				<div class="container">
					<div class="col-lg-12 section-title-price wow flipInX">
						<h2>
							<small>
								Get In Touch
							</small>
							<br>
							<strong>
								Contact Us
							</strong>
						</h2>
						<p class="lead">
							We would like to
							<span class="highlight">
								hear from you.
							</span>
						</p>
					</div>
					<div class="col-lg-12 text-center wow flipInX" id="contact">
						<div id="message">
						</div>
						<form method="post" action="contact.php" name="contactform" id="contactform">
							<fieldset>
								<div class="col-md-6">
									<input name="name" type="text" id="name" size="30" value="" placeholder="Name"/>
									<br />
									<input name="email" type="text" id="email" size="30" value="" placeholder="Email"/>
									<br />
									<input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"/>
								</div>
								<div class="col-md-6">
									<textarea name="comments" cols="40" rows="5" id="comments" placeholder="Message">
									</textarea>
								</div>
								<div class="col-md-12 text-center">
									<input type="submit" class="submit" id="submit" value="Submit" />
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</section>
			<!-- End Contact Form -->
