[[^DESIGNER_MODE]]

<!DOCTYPE html>
<%@page import="tooltwist.misc.JspHelper"%>
[[PAGE:importCode]]
<%
    String jspName = "bootstrap_page";
    JspHelper jh = JspHelper.getJspHelper(pageContext, jspName);
[[&PAGE:preFetchCode]]
%>


<html lang="en">
	<head>

        [[#NEVER]]
		<!-- Meta Data -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			Zoura - Responsive HTML5 Onepage Parallax Theme
		</title>
		<meta name="description" content="A Template by Vossen Design"/>
		<meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, onepage, responsive, mobile"/>
		<meta name="author" content="Vossen Design"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="css/bootstrap.css" rel="stylesheet">
		<!-- Font Awesome Icons -->
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<!-- ionicons Icons -->
		<link href="css/ionicons.min.css" rel="stylesheet">
		<!-- Liquid Slider 2 stlylesheet -->
		<link rel="stylesheet" href="css/liquid-slider.css">
		<!-- CSS Animations -->
		<link rel="stylesheet" href="css/animate.css">
		<!-- YTPlayer stlylesheet -->
		<link href="css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
		<!-- Flexslider2 stlylesheet -->
		<link rel="stylesheet" href="css/flexslider.css">
		<!-- CubePortfolio stlylesheet -->
		<link rel="stylesheet" href="css/cubeportfolio.css">
		<!-- Custom stlylesheet -->
		<link href="css/style.css" rel="stylesheet">
		<!-- Skin Color -->
		<link rel="stylesheet" href="css/blue.css" id="color-skins"/>
        [[/NEVER]]
        
        
		<!-- Meta Data -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			ToolTwist - Products and Services for Complex Projects
		</title>
		<meta name="description" content="A Template by Vossen Design"/>
		<meta name="keywords" content="HTML5, Bootstrap 3, CSS3, javascript, PHP, onepage, responsive, mobile"/>
		<meta name="author" content="Vossen Design"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="shortcut icon" href="/ttsvr/bs3/img/favicon.ico" type="image/x-icon">
		<!-- Web Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="/ttsvr/bs3/css/bootstrap.css" rel="stylesheet">
		<!-- Font Awesome Icons -->
		<link href="/ttsvr/bs3/css/font-awesome.min.css" rel="stylesheet">
		<!-- ionicons Icons -->
		<link href="/ttsvr/bs3/css/ionicons.min.css" rel="stylesheet">
		<!-- Liquid Slider 2 stlylesheet -->
		<link rel="stylesheet" href="/ttsvr/bs3/css/liquid-slider.css">
		<!-- CSS Animations -->
		<link rel="stylesheet" href="/ttsvr/bs3/css/animate.css">
		<!-- YTPlayer stlylesheet -->
		<link href="/ttsvr/bs3/css/YTPlayer.css" media="all" rel="stylesheet" type="text/css">
		<!-- Flexslider2 stlylesheet -->
		<link rel="stylesheet" href="/ttsvr/bs3/css/flexslider.css">
		<!-- CubePortfolio stlylesheet -->
		<link rel="stylesheet" href="/ttsvr/bs3/css/cubeportfolio.css">
        
        
        
        <link type="text/css" rel="stylesheet" href="/ttsvr/stylesheet/bs3-examples.css.css_default.css" media="screen" />
        <link type="text/css" rel="stylesheet" href="/ttsvr/stylesheet/bs3-examples.css.style_default.css" media="screen" />

		<!-- Custom stlylesheet - ->
		<link href="/ttsvr/bs3/css/style.css" rel="stylesheet">
		<! -- Skin Color - ->
		<link rel="stylesheet" href="/ttsvr/bs3/css/tooltwist-green.css" id="color-skins"/>
-->

        <link type="text/css" rel="stylesheet" href="/ttsvr/stylesheet/bs3-examples.css.theme_blue.css" media="screen" />
[[&PAGE:headerCode]]

        
	</head>
	<body>
[[&PAGE:topCode]]

        <!-- Preloader -->
		<div class="animationload">
			<div class="loader">
				&nbsp;
			</div>
		</div>
		<!-- End Preloader -->


		<!--Start Header-->
		<header id="fixed-navbar" class="header-top" style="z-index=999">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
[[/DESIGNER_MODE]]



[[#DESIGNER_MODE]]
<div class="ttDesigner-region-label">INCLUDES</div>
[[/DESIGNER_MODE]]
                    [[&CHILD-HFLOW-INCLUDES]]
[[#DESIGNER_MODE]]
<div class="ttDesigner-region-label">Navbar</div>
[[/DESIGNER_MODE]]
                    [[&CHILD-FLOW-NAVBAR]]
[[^DESIGNER_MODE]]
				</div>
			</nav>
		</header>
		<!--End Header-->
[[/DESIGNER_MODE]]

[[#DESIGNER_MODE]]
<div class="ttDesigner-region-label">Page Content</div>
[[/DESIGNER_MODE]]

        [[#NEVER]]
		<!--Start Header-->
		<header id="fixed-navbar" class="header-top" style="z-index=999">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
							<span class="sr-only">
								Toggle navigation
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
							<span class="icon-bar">
							</span>
						</button>
						<a class="navbar-brand" rel="home" href="#" title="Zoura."><h3>Zoura</h3></a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="main-nav">
						<ul class="nav navbar-nav  navbar-right">
							<li>
								<a href="#home-slideshow">Home</a>
							</li>
							<li>
								<a href="#about">About</a>
							</li>
							<li>
								<a href="#services">Services</a>
							</li>
							<li>
								<a href="#our-work">Work</a>
							</li>
							<li>
								<a href="#price-list">Price</a>
							</li>
							<li class="dropdown">
								<span class="dropdown-toggle" data-toggle="dropdown">
									Pages
									<b class="caret">
									</b>
								</span>
								<ul class="dropdown-menu text-left">
									<li>
										<a href="blog.html">Blog Home</a>
									</li>
									<li>
										<a href="blog-single.html">Blog Single</a>
									</li>
									<li>
										<a href="404.html">404 Error</a>
									</li>
									<li>
										<a href="coming-1">Coming-soon-1</a>
									</li>
									<li>
										<a href="coming-2">Coming-soon-2</a>
									</li>
									<li>
										<a href="coming-3">Coming-soon-3</a>
									</li>
									<li>
										<a href="typography.html">Typography</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#contact-form">Contact</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
		</header>
		<!--End Header-->
        [[/NEVER]]

[[^NO_MORE]]
		<!--Start Home-->
		<section id="home-slideshow" class="home-fullscreen-slider" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
			<div class="parallax-overlay">
			</div>
			<div class="home-container text-center">
				<div class="home-title liquid-slider" id="slider-home">
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Something You Love
							</strong>
						</h1>
						<p class="lead">
							We are digital agency that loves crafting beautiful websites with great functionality.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">WE'RE CREATIVE</a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								We Make Brands Shine
							</strong>
						</h1>
						<p class="lead">
							We do innovation, creativity, effectiveness and all that with love.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">WHAT WE DO</a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Best Digital Agency
							</strong>
						</h1>
						<p class="lead">
							Zoura was honored as best agency at EdAwards in New York.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">MADE WITH <i class="icon ion-heart"></i></a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Nice to Meet You
							</strong>
						</h1>
						<p class="lead">
							Let's meet up and see if there's chemistry!
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">MEET THE TEAM</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End Home-->
[[/NO_MORE]]
        

        
        
		<!--Site Wrapper-->
		<div class="site-wrapper">
            [[&CHILD-FLOW]]
		</div>


        
        <br>
        <br>
        <br>
        REST OF THE PAGE
        <br>
        <br>
        <br>
        
        
		<!--Site Wrapper-->
		<div class="site-wrapper">
            
            

            

		</div>
        
        [[#NEVER]]
		<!-- jQuery Plugins -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.liquid-slider.js"></script>
		<script src="js/jquery.stellar.js" type="text/javascript"></script>
		<script src="js/jquery.sticky.js" type="text/javascript"></script>
		<script src="js/waypoints.min.js" type="text/javascript"></script>
		<script src="js/wow.min.js" type="text/javascript"></script>
		<script src="js/jquery.counterup.min.js" type="text/javascript"></script>
		<script src="js/jquery.fitvids.js" type="text/javascript"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/toucheffects.js"></script>
		<script src="js/jquery.easing.1.3.min.js"></script>
		<script src="js/jquery.touchSwipe.min.js"></script>
		<script src="js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
		<script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
		<script src="js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
		<script src="js/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/gmap3.min.js"></script>
		<script src="js/scripts.js" type="text/javascript"></script>
        [[/NEVER]]
        
[[^DESIGNER_MODE]]

		<!-- jQuery Plugins -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/ttsvr/bs3/js/bootstrap.min.js"></script>
		<script src="/ttsvr/bs3/js/jquery.liquid-slider.js"></script>
		<script src="/ttsvr/bs3/js/jquery.stellar.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.sticky.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/waypoints.min.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/wow.min.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.counterup.min.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.fitvids.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/modernizr.custom.js"></script>
		<script src="/ttsvr/bs3/js/toucheffects.js"></script>
		<script src="/ttsvr/bs3/js/jquery.easing.1.3.min.js"></script>
		<script src="/ttsvr/bs3/js/jquery.touchSwipe.min.js"></script>
		<!--
		-->
		<script src="/ttsvr/bs3/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.flexslider-min.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.mb.YTPlayer.js" type="text/javascript"></script>
		<script src="/ttsvr/bs3/js/jquery.backstretch.min.js"></script>
		<!--
		For Google maps only
		-->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="/ttsvr/bs3/js/gmap3.min.js"></script>
		<script src="/ttsvr/bs3/js/scripts.js" type="text/javascript"></script>
        
	</body>
[[&PAGE:bottomCode]]

</html>

[[/DESIGNER_MODE]]

