			<!-- Start Portfolio -->
			<section id="our-work">
				<div class="container">
					<div class="col-lg-12 section-title wow flipInX">
						<h2>
							<small>
								Some of Our Work
							</small>
						</h2>
						<p class="lead">
							Wide range of
							<span class="highlight">
								successful
							</span>
							digital and print projects.
						</p>
					</div>
					<div class=" ">
						<div id="filters-container" class="cbp-l-filters-button">
							<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
								All
								<div class="cbp-filter-counter">
								</div>
							</div>
							<div data-filter=".branding" class="cbp-filter-item">
								Branding
								<div class="cbp-filter-counter">
								</div>
							</div>
							<div data-filter=".web-design" class="cbp-filter-item">
								Web Design
								<div class="cbp-filter-counter">
								</div>
							</div>
							<div data-filter=".apps" class="cbp-filter-item">
								Apps
								<div class="cbp-filter-counter">
								</div>
							</div>
							<div data-filter=".photography" class="cbp-filter-item">
								Photography
								<div class="cbp-filter-counter">
								</div>
							</div>
							<div data-filter=".video" class="cbp-filter-item">
								Video
								<div class="cbp-filter-counter">
								</div>
							</div>
						</div>
						<div id="grid-container" class="cbp-l-grid-projects">
							<ul class="grid cs-style-3">
								<li class="cbp-item web-desing">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_1.png" alt="">
										<figcaption>
											<a href="http://vimeo.com/50826105" class="cbp-lightbox" data-title="Our Project 2"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
								<li class="cbp-item web-design apps video">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_1_video.png" alt="">
										<figcaption>
											<a href="http://vimeo.com/50826105" class="cbp-lightbox" data-title="Our Project 2"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
								<li class="cbp-item branding">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_2.png" alt="">
										<figcaption>
											<a href="/ttsvr/cropImage/bs3-examples.img.portfolio_2.png" class="cbp-lightbox" data-title="Our Project 3"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
								<li class="cbp-item web-design branding video">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_2_video.png" alt="">
										<figcaption>
											<a href="https://www.youtube.com/watch?v=KRAMNWzfjcg" class="cbp-lightbox" data-title="Our Project 4"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
								<li class="cbp-item apps branding">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_3.png" alt="">
										<figcaption>
											<a href="/ttsvr/cropImage/bs3-examples.img.portfolio_3.png" class="cbp-lightbox" data-title="Our Project 5"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
								<li class="cbp-item web-design video">
									<figure>
										<img src="/ttsvr/cropImage/bs3-examples.img.portfolio_3_video.png" alt="">
										<figcaption>
											<a href="http://vimeo.com/64518471#at=0" class="cbp-lightbox" data-title="Our Project 6"><i class="fa fa-search fa-2x"></i></a>
										</figcaption>
									</figure>
								</li>
							</ul>
						</div>
						<div class="cbp-l-loadMore-button">
							<a href="#" class="btn btn-primary btn-lg btn-responsive">Load more</a>
						</div>
					</div>
				</div>
			</section>
			<!-- End Portfolio -->
