<!--Start FAQs-->
<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 te-faqs-content wow flipInX">
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">FAQ</div>
                [[/DESIGNER_MODE]]
                [[&CHILD-FLOW-FAQ]]
            </div>
        </div>
    </div>
</section>
<!--End FAQs-->
