[[#DESIGNER]]
<div class="ttDesigner-widget-label"><div>
bs3_section_container_row [[#property.id]]#[[property.id]]: [[/property.id]] [[property.class]]
</div></div>
[[/DESIGNER]]

[[^DESIGNER]]
<section id="[[property.id]]" class="[[property.class]]">
  <div class="container">
      <div class="row">
[[/DESIGNER]]

[[&CHILD-FLOW]]

[[^DESIGNER]]
      </div><!-- row -->
  </div><!-- container -->
</section>
[[/DESIGNER]]
