<div id="tt-new-widget">      
    		
			<!-- Start Clients -->
			<section id="clients">
				<div class="container text-center">
					<div class="col-lg-12 section-title-clients wow flipInX">
						<h2>
							<small>
								Case Studies
							</small>
						</h2>
						<p class="lead">
							We
							<span class="highlight">
								love
							</span>
							building great systems, and we 
							<span class="highlight">
								love
							</span>
							giving our customers great tools.
						</p>
					</div>
					<div class="clients-logos">
						<div class="col-sm-4 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/images/macmall-500x300.png"
                                             [[#DESIGNER_MODE]]style="width:100px;"[[/DESIGNER_MODE]]/></a>
						</div>
						<div class="col-sm-4 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/images/rpdata-500x300.png"
                                             [[#DESIGNER_MODE]]style="width:100px;"[[/DESIGNER_MODE]]/></a>
						</div>
						<div class="col-sm-4 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/images/sky-500x300.png"
                                             [[#DESIGNER_MODE]]style="width:100px;"[[/DESIGNER_MODE]]/></a>
						</div>
						<!--
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/img/client-4.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/img/client-5.png"/></a>
						</div>
						<div class="col-sm-2 col-xs-4">
							<a href="#"><img class="img-responsive" src="/ttsvr/bs3/img/client-6.png"/></a>
						</div>
						-->
					</div>
				</div>
			</section>
			<!-- End Clients -->
</div>
