        
<section class="section-flight-label">
    <div class="container-fluid content">
        <div class="col-xs-12">
            <h1 class="text-center"><span id="skyscanner-flight-label"></span></h1>
        </div>
    </div>
</section>


