			<!--Start About-->
			<section id="about">
				<div class="container content">
					<div class="col-lg-12 section-title-about wow flipInX">
						<h2>
							<small>
								We Are Tech Elite
							</small>
						</h2>
						<p class="lead">
							We hire the most talented IT professionals in the Philippines to work directly with
                            our Australian and New Zealand clients.

                            Help us <span class="highlight">transform their business.</span>
						</p>
					</div>

				</div>
			</section>
			<!--End About-->
