<!-- Start Separator Video -->
<section id="about">
    <div class="container">
        <div class="content-block">
            <div>
                [[#DESIGNER_MODE]]
	                <div class="ttDesigner-region-label">ABOUT CONTENT</div>
                [[/DESIGNER_MODE]]
                [[&CHILD-FLOW-ABOUT-SECTION-1]]
            </div>
            <div class="row">
                <div class="col-md-7">
                    [[&CHILD-FLOW-ABOUT-SECTION-2]]
                </div>
                <div class="col-md-5">
                    <div class="about-video">
                        [[#DESIGNER_MODE]]
                            <div class="ttDesigner-region-label">ABOUT VIDEO</div>
                        [[/DESIGNER_MODE]]
                        [[&CHILD-FLOW-ABOUT-VIDEO]]
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>