<div id="tt-new-widget">

			<!-- Start Services -->
			<section id="services">
				<div class="container">
					<div class="col-lg-12 section-title wow flipInX">
						<h2>
							<small>
								Does it Work?
							</small>
						</h2>
						<p class="lead">
							
Sure does.
<ul>
<li>Marketing people can update websites without technical help.</li>
<li>Developers create reusable components that get assembled to create sites.</li>
<li>Web developers can tweak the appearance at any time.</li>
<li>Complex logic remains isolated and reusable.</li>

<li>Fast development, Reduced costs, Better result, Simplified maintenance</li>
</ul>
                    We've had so much success with this approach, we're now sharing our ToolTwist with the world. If you're building an Internet business, or you're an industry specialist, feel free to look into our cost effective, development team friendly solutions and share our benefits.
							<span class="highlight">
								creative touch.
							</span>
						</p>
					</div>
					<div class="services-container">
						<div class="row services-row">
							<div class="col-md-4 col-sm-6 wow flipInX">
								<div class="service">
                                    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
									<div class="service-info">
										<h4>
											ToolTwist Designer
											<br>
											<small>
												Crafting with Love
											</small>
										</h4>
										<p class="service-description">
											Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis tristique diam, ut ullamcorper tellus. Cras porttitor massa.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 wow flipInY">
								<div class="service">
									<div class="service-icon">
										<i class="icon ion-social-github ion-3x highlight">
										</i>
									</div>
									<div class="service-info">
										<h4>
											Crazy Coding
											<br>
											<small>
												Hand Developing
											</small>
										</h4>
										<p class="service-description">
											Nullam id ornare magna. Nullam eu nisi porttitor, aliquam mi sit amet, viverra diam. Maecenas vitae mollis est. Nunc nec lectus.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 wow flipInX">
								<div class="service">
									<div class="service-icon">
										<i class="icon ion-speedometer ion-3x highlight">
										</i>
									</div>
									<div class="service-info">
										<h4>
											Web Optimization
											<br>
											<small>
												Faster than Light
											</small>
										</h4>
										<p class="service-description">
											Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet adipiscing metus vel fermentum. Sed velit.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 wow flipInY">
								<div class="service">
									<div class="service-icon">
										<i class="icon ion-map ion-3x highlight">
										</i>
									</div>
									<div class="service-info">
										<h4>
											Branding
											<br>
											<small>
												Making a New You
											</small>
										</h4>
										<p class="service-description">
											In pulvinar sapien ipsum, vel scelerisque ligula fringilla in. Donec mi urna, aliquet ac arcu vel, feugiat fermentum leo.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 wow flipInX">
								<div class="service">
									<div class="service-icon">
										<i class="icon ion-ionic ion-3x highlight">
										</i>
									</div>
									<div class="service-info">
										<h4>
											Customer Support
											<br>
											<small>
												And Affinity
											</small>
										</h4>
										<p class="service-description">
											Duis vel est nec sapien suscipit gravida. Integer vitae tortor dui. Donec libero quam, euismod sit amet enim ac, varius.
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 wow flipInY">
								<div class="service">
									<div class="service-icon">
										<i class="icon ion-paper-airplane ion-3x highlight">
										</i>
									</div>
									<div class="service-info">
										<h4>
											Having Fun
											<br>
											<small>
												Office Surfing (with chairs!)
											</small>
										</h4>
										<p class="service-description">
											Etiam cursus nunc vitae auctor semper. In commodo ligula eu faucibus mattis. Maecenas sed consectetur orci. Curabitur dui.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Services -->
    
</div>
