<section id="services">
    <div class="container">
        [[#DESIGNER_MODE]]
            <div class="ttDesigner-region-label">SERVICES CONTENT</div>
        [[/DESIGNER_MODE]]
        [[&CHILD-FLOW-SERVICES]]
    </div>
</section>