<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            ToolTwist Forums
            <br>
            <small>
                Collaboration and Social Media
            </small>
        </h4>
        <p class="service-description">
            Cloud based messaging, collaboration, discussions, blogg, and social media all rolled into one,
            designed for easy embeddinge embedding into applications and websites.
        </p>
    </div>
</div>
