            <!-- Start Who We Are -->
			<section id="who-we-are" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="container">
						<div class="col-md-12 col-we-are wow flipInX">
							<h2 class="we-are-info">
								Your New Home
								<br>
								<small class="highlight">
									More value for your time and a better quality of life.
								</small>
							</h2>
                        </div>
						<div class="col-md-6 col-we-are wow flipInX">
							<p class="p-info">
                                Considering a career move is bit like choosing a husband or wife after only having met them on a few occasions.
                                It's a big decision and there are a lot of considerations you need to take into account... your spouse...  your children... your extended family... your friends... they all rely on you.
							</p>

							<p class="p-info">
                                We understand this. And we stand beside you every step of the way. Answering your questions. Addressing any concerns you might have. Offering you options.
							</p>

							<p class="p-info">
                                At Tech Elite we care.  We care for our current team, we care for our prospective new team members (that's you) and of course we care for our clients.
							</p>

							<p class="p-info">
                                We also know that salary and benefits are likely your number one decision criteria.  And we advise our clients that in order to hire the best talent then there is of course a premium that needs to paid.
							</p>

							<p class="p-info">
                                At Tech Elite, we like to take care of your financial, physical  and mental health.
                                So in addition to a top salary and the typical government mandatory benefits...
							</p>

							<ul class="p-info">
                                <li>Social Security System (SSS)</li>
                                <li>Philippines Health Insurance Corporation (PhilHealth)</li>
                                <li>Home Development Mutual Fund (HDMF) (Pag-IBIG)</li>
							</ul>

							<p class="p-info">
                                ... you will also receive the following additional benefits...
							</p>

							<ul class="p-info">
                                <li>Comprehensive Medical and Dental Health Insurance cover</li>
                                <li>Free catered lunch every day</li>
                                <li>Access to the most realistic IT Training curriculum available in the Philippines</li>
                                <li>IT lab with equipment for honing your skills and increasing your value in the employment market.</li>
                                <li>A less chaotic, polution free work environment</li>
                                <li>Low commute times with less traffic (more time with family and friends)</li>
                                <li>We have a Gold's Gym just 100 meters away</li>
                                <li>Clark Parade Grounds and picnic area is just 10 minutes walk from our office</li>
                            </ul>

							<p class="p-info">
                                Other salary packaging options can also be included upon negotiation with our clients (your new managers).
                                As Tech Elite ONLY service IT businesses and IT departments you will also learn
                                new skills by association with some of the best IT talent in the Philippines.
							</p>

						</div>
						<div class="col-md-6 col-md-skills wow flipInX">
							<div class="skills-col">
								<p>
									<em>
										Great collegeaues
									</em>
								</p>
								<div class="skillbar" data-percent="92%">
									<div class="skillbar-title">
										<span>
											92%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Easy Commute
									</em>
								</p>
								<div class="skillbar" data-percent="78%">
									<div class="skillbar-title">
										<span>
											78%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Career Development
									</em>
								</p>
								<div class="skillbar" data-percent="82%">
									<div class="skillbar-title">
										<span>
											82%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Stress Free Lifestyle
									</em>
								</p>
								<div class="skillbar" data-percent="85%">
									<div class="skillbar-title">
										<span>
											85%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										More time with Family and Friends
									</em>
								</p>
								<div class="skillbar" data-percent="90%">
									<div class="skillbar-title">
										<span>
											90%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
								<p>
									<em>
										Cost of Living
									</em>
								</p>
								<div class="skillbar" data-percent="75%">
									<div class="skillbar-title">
										<span>
											75%
										</span>
									</div>
									<div class="skillbar-bar">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Who We Are -->
