			<!-- Start Separator-Quotes -->
			<section id="te-quotes" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
				<div class="row text-center" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="quotes liquid-slider" id="te-quotes-slider-1">
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
                                Your
								</small>
                                current conditions
								<small class="white">
                                are echoes of your
								</small>
                                past choices
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								Robin Sharma
							</p>
						</div>
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
                                    The
								</small>
                                change you resist
								<small class="white">
                                    is the
								</small>
                                growth you miss.
								<small class="white">
                                    Progress comes via the unexpected.
                                    Welcome it.
								</small>
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								Robin Sharma
							</p>
						</div>
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									The marketplace rewards
								</small>
                                mastery.
								<small class="white">
                                    People always pay for the
								</small>
                                best
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								Robin Sharma
							</p>
						</div>
						<div class="col-lg-12">
							<h3>
								<i class="fa fa-quote-left highlight">
								</i>
								<small class="white">
									The
								</small>
                                bigger the dream
								<small class="white">
                                    the more
								</small>
                                important the team
								<i class="fa fa-quote-right highlight">
								</i>
							</h3>
							<p>
								Robin Sharma
							</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator-Quotes -->
