			<!--Start About-->
			<section id="about">
				<div class="container content">
					<div class="col-lg-12 section-title-about wow flipInX">
						<h2>
							<small>
								We Are Zoura
							</small>
						</h2>
						<p class="lead">
							We create experiences that
							<span class="highlight">
								transform brands
							</span>
							, grow businesses
							<br>
							and make people’s lives better. Building brands and driving sales with powerful ideas.
						</p>
					</div>
					<div class="row wow flipInX">
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-jet ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Creative
										<br>
										<small>
											Crafting With Love
										</small>
									</h4>
									<p class="about-description">
										Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-paper-airplane ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Cool Nerds
										<br>
										<small>
											Coding With Fun
										</small>
									</h4>
									<p class="about-description">
										Duis vel est nec sapien suscipit gravida. Integer vitae tortor dui. Donec libero quam, euismod sit amet enim ac, varius dictum.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-help-buoy ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Passionate
										<br>
										<small>
											Available When You Need Us
										</small>
									</h4>
									<p class="about-description">
										Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet adipiscing metus vel fermentum. Sed velit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-heart-broken ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Professional
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Integer ornare, tellus eget lobortis cursus, metus enim ultricies eros, vitae porttitor elit sapien quis justo. Duis vitae.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-upload ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Passionate
										<br>
										<small>
											Available When You Need Us
										</small>
									</h4>
									<p class="about-description">
										Maecenas sit amet eros luctus dui volutpat sollicitudin id vitae est. Vivamus laoreet adipiscing metus vel fermentum. Sed velit.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										We're Professional
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Integer ornare, tellus eget lobortis cursus, metus enim ultricies eros, vitae porttitor elit sapien quis justo. Duis vitae.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End About-->