<!--Start About-->
<section id="usemetv_intro">
    <div class="container content">
        <div class="col-lg-12 section-title-about wow flipInX">
            <h2>
                <!--
-->
                <small>
                    Control this display with your Phone
                <!--
-->
                </small>
            </h2>
        </div>
    </div>
</section>
        
        
<section id="usemetv_intro_2">
    <div class="container content">
        <div class="col-lg-12 section-title-aboutZ Zwow flipInX">
        
        <div class="clearfix"></div>

        <div class="col-xs-2"></div>

        <div class="col-xs-4">
            <h3>
                <small>
                    Option 1
                </small>
            </h3>
            <p class="lead">
                <div id="usemetv-qrcode"></div>
            </p>
        </div>
        
        <div class="col-xs-1"></div>

        <div class="col-xs-5">
            <h3>
                <small>
                    Option 2
                </small>
            </h3>
            <p class="lead"></p>
            <a id="shywall-debug-url" target="_blank">
                Go to
            </a>
            <h4 id="skywall-website-url">
                <span class="highlight">http://useme.tv</span>
            </h4>
            Enter this number.
            <h1 id="usemetv-pin">
                <a id="shywall-debug-urlWithPIN" target="_blank">
[[#DESIGNER_MODE]]
                    123-456
[[/DESIGNER_MODE]]
                </a>
            </h1>
        </div>
    
        <div class="col-lg-12 section-title-about wow flipInX">
            [[&CHILD-FLOW-BOTTOM]]
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</section>

        
        
[[#NEVER]]        
        
        
<div id="tt-new-widget">
    <table style="zbackground-color:white;">
        <tr>
            <td>
                <span style="font-size:20px;">Control this screen using your phone!</span>
                <br/>
                <br/>
[[#DESIGNER_MODE]]
                <span id="shywall-debug-url" target="_blank">Go to <b>http://useme.tv</b> and enter:</span>
                <span id="shywall-debug-urlWithPIN" target="_blank"><span id="usemetv-pinZZ" style="font-weight: bold; font-size: 18px;"></span></span>
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]
                <a id="shywall-debug-url" target="_blank">Go to <b>http://useme.tv</b> and enter:</a>
                <a id="shywall-debug-urlWithPIN" target="_blank"><span id="usemetv-pin" style="font-weight: bold; font-size: 18px;"></span></a>
[[/DESIGNER_MODE]]
            </td>
            <td style="width: 20px;">
            </td>
            <td>
                <div id="usemetv-qrcodeZZ"></div>
            </td>
        </tr>
    </table>

</div>
[[/NEVER]]        

