[[#DESIGNER]]
<div class="ttDesigner-widget-label"><div>
bs3_container [[#property.id]]#[[property.id]]: [[/property.id]] [[property.class]]
</div></div>
[[/DESIGNER]]
[[^DESIGNER]]


<div id="[[property.id]]" class="container [[property.class]]">
[[/DESIGNER]]
	[[&CHILD-FLOW]]
[[^DESIGNER]]
</div>
[[/DESIGNER]]
