<section id="needABreak">
    <div class="container-fluid">
        <div class="row">
            <img class="img-responsive" src="/ttsvr/cropImage/skyscanner.images.robberGirlBeach.png">            
            <h2 class="text-center">Need a break? Plan your getaway right here.</h2>
        </div>
    </div>
</section>
