<section id="skyscanner-heading">
    <div class="container content">
        <div class="col-lg-12">
            <img class="img-responsive" src="/ttsvr/cropImage/skyscanner.images.logo1.png">
        </div>
    </div>
</section>
