[[#DESIGNER_MODE]]
<div style="height:[[property.height]]; background:url([[property.background]]); color:magenta;">
<br>
parallax [[property.height]] [[property.background]] [[property.ratio]] [[property.offset]]
</div>
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]
<style>
#separator-1Z {
	background-position: center 0%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	zbackground-image: url(../img/mobile-2.jpg);
	display: table;
	width: 100%;
	zheight: 100%;
	zmin-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 1;
	padding-top: 40px;
	padding-bottom: 40px;
}
</style>
			<!-- Start Separator #1Z -->
			<section id="separator-1Z" data-stellar-background-ratio="[[property.ratio]]" data-stellar-vertical-offset="[[property.offset]]" style="height:[[property.height]];background:url([[property.background]]);">
				<div class="container">
					<div class="row">
						<div class="col-md-6 separator-1-content wow flipInX">
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator #1 -->
[[/DESIGNER_MODE]]
