[[#DESIGNER_MODE]]
<style>
#skyscanner-travelTypes img {
    max-width: 100%;
}
#skyscanner-travelTypes div .col-xs-6 {
    display: inline-block;
    max-width: 400px;
    zfloat: left;
    margin-right: 20px;
    valign: top;
}
</style>
[[/DESIGNER_MODE]]

            <section id="skyscanner-travelTypes">
				<div class="container content">
					<div class="col-xs-12 section-title-about wow flipInX">
                        <!--
						<p class="lead">
							Select a category and we'll suggest a few
							<span class="highlight">
								great
							</span>
                             destinations.
						</p>
                        -->
						<h2>
							<small>
								What type of Travel do you like?
							</small>
                            <br>
						</h2>
					</div>
                    
                    <div class="col-md-6 col-xs-6">
                        <div class="about-rowZZ">
                            <div class="about-icon">
                                <i class="icon ion-heart-broken ion-3x highlight">
                                </i>
                            </div>
                            <div class="about-info">
                                <h4>
                                    Beaches
                                    <br>
                                    <small>
                                        The great unwind
                                    </small>
                                </h4>
                            </div>
                        </div>
                        <img src="/ttsvr/cropImage/skyscanner.images.beach_travel.jpg" class="img-responsive">
                        
                        <!-- Tell usemetv to provde a button for this location -->
                        <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-7" data-label="Beaches"></div>
                    </div>
                    
                    <div class="col-md-6 col-xs-6">
                        <div class="about-rowZZ">
                            <div class="about-icon">
                                <i class="icon ion-jet ion-3x highlight">
                                </i>
                            </div>
                            <div class="about-info">
                                <h4>
                                    Adventure
                                    <br>
                                    <small>
                                        Adrenalin, or Fresh Air
                                    </small>
                                </h4>
                                    <!--
                                <p class="about-description">
                                    Duis vel est nec sapien suscipit gravida. Integer vitae tortor dui. Donec libero quam, euismod sit amet enim ac, varius dictum.
                                </p>
                                    -->
                            </div>
                        </div>
                        <img src="/ttsvr/cropImage/skyscanner.images.adventure_travel.jpg" class="img-responsive">
										<br>
										<br>
										<br>
                        
                        <!-- Tell usemetv to provde a button for this location -->
                        <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-5" data-label="Adventure"></div>
                    </div>

                    <div class="col-md-6 col-xs-6">
                        <div class="about-rowZZ">
                            <div class="about-icon">
                                <i class="icon ion-paper-airplane ion-3x highlight">
                                </i>
                            </div>
                            <div class="about-info">
                                <h4>
                                    Sight Seeing
                                    <br>
                                    <small>
                                        A World of Wonder
                                    </small>
                                </h4>
                                    <!--
                                <p class="about-description">
                                    Vivamus congue diam vitae tortor imperdiet congue. Nullam sagittis, tristique diam, ut ullamcorper tellus. Cras porttitor massa.
                                </p>
                                    -->
                            </div>
                        </div>
                        <img src="/ttsvr/cropImage/skyscanner.images.taj_mahal_mist.jpg" class="img-responsive">
                        
                        <!-- Tell usemetv to provde a button for this location -->
                        <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-4" data-label="Sight Seeing"></div>
                    </div>
                                
                    <div class="col-md-6 col-xs-6">
                        <div class="about-rowZZ">
                            <div class="about-icon">
                                <i class="icon ion-help-buoy ion-3x highlight">
                                </i>
                            </div>
                            <div class="about-info">
                                <h4>
                                    Casinos
                                    <br>
                                    <small>
                                        Travel with Lady Luck
                                    </small>
                                </h4>
                            </div>
                        </div>
                        <img src="/ttsvr/cropImage/skyscanner.images.casino_travel.jpg" class="img-responsive">
                        
                        <!-- Tell usemetv to provde a button for this location -->
                        <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-6" data-label="Casinos"></div>
                    </div>
				</div>
                        
                <!-- Tell usemetv the home and back buttons -->
                <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-1" data-home="Home"></div>
                <div class="usemetv-button" data-ref="/ttsvr/n/ZOUSAZUB-1" data-label="Finished"></div>


</section>
			<!--End About-->
