[[#DESIGNER_MODE]]
Google Map
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
			<!-- Start Google Map -->
			<section>
				<div id="map">
				</div>
			</section>
			<!-- End Google Map -->
[[/DESIGNER_MODE]]
