        <!-- Start Separator Video -->
        <section id="te-about-us" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 te-about-us-content wow flipInX">
                    </div>
                    <div class="col-md-10 te-about-us-content wow flipInX">
                        <h2 class="video-info">
                            About Us
                        </h2>
                        <p class="p-info">
                            Tech Elite is a specialist information technology (IT) talent provider to Australian and New Zealand companies.
                        </p>
                        <p>

                            We pay industry-leading salaries and provide other excellent <a href="#te-benefits">benefits</a> as we know you are worth our investment.
                            We advise our clients that to get the best there is of course a premium to pay.
                        </p>
                        <p>
                            As you are a high caliber IT professional, we spend the time to match your skills, experience, personality and work
                            preferences with each company and job role in order that we can deliver the best quality outcome to our clients.
                            This also ensures that the culture and management style of your future manager and colleagues are compatible with your personality and working style.
                            We strive hard to attain a happy, harmonious working environment for you and your new company.
                        </p>
                        <p>
                            We located our offices in Clark, Philippines to provide the least stressful, most productive working environment available in the Philippines today.
                            Clark is clear of traffic, chaos, crowds and pollution.
                            Commute times, even from the nearby cities of Mabalacat or Angeles are no more than 15 minutes by private transport or 30 minutes by public transport.
                        </p>
                        <p>
                            We offer a peaceful working environment that encourages you to become the best IT professional you can be.
                            Less time commuting also means more time to spend with family and friends.
                        </p>
                        <p>
                            If you have read this far then maybe you have the skills, experience and most importantly, the right attitude to join us.
                        </p>
                        <p>
                            If you are a happy, positive individual possessing a "can do" attitude then we are looking for you.
                            Are you ready to join our family?
                        </p>
                        <p>
“Your current conditions are echoes of your past choices.” ... Robin Sharma
                        </p>
                        <p>
SEE MORE (links to BENEFITS) about how working with Tech Elite might be the best decision you've ever made.
                        </p>
                        <p>
OR
                        </p>
                        <p>
CONTACT US NOW (link to CONTACT) for a no pressure, FREE consultation.
                        </p>
                    </div>

[[#SHOW_VIDEO]]
                    <div class="col-md-6 fluid-width-video-wrapper">
                        <div class="video-container">
                            <iframe src="http://www.youtube.com/embed/kZo9-nK2wFo" frameborder="0" width="560" height="315">
                            </iframe>
                            <!-- Replace just numbers of video link -->
                        </div>
                    </div>
[[/SHOW_VIDEO]]
                </div>
            </div>
        </section>
        <!-- End Separator Video -->
