			<!--Start About-->
			<section id="about">
				<div class="container content">
					<div class="col-lg-12 section-title-about wow flipInX">
						<h2>
							<small>
								We're Looking for You
							</small>
						</h2>
						<p class="lead">
                            <span class="highlight">
							A highly skilled IT professional looking for a better home.
                            </span>

<br>
<br>
Tech Elite is a specialist IT staffing facility based in the Philippines.  We hire people like you to help support our Australian and New Zealand technology businesses and technology departments.
The skills we recruit depend on the specific requirements of our clients.  The types of roles we typically recruit are as follows:

						</p>
					</div>
                    
                    
					<div class="Zrow Zwow ZflipInX">
                        
						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Computer Support
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Desktop Support - Responsible for the upkeep of desktop operating systems and common applications.
                                        <br>
                                        PC Support - Includes operating system skills as well as knowledge about a variety of business applications.
                                        <br>
                                        IT Support - Maintains IT systems such as computers, mobile devices, LAN, WAN and applications.
                                        <br>
                                        Computer Technician - Includes skills and knowledge in computer hardware components and models.

									</p>
								</div>
							</div>
						</div>

                        <div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Sales
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Sales related IT roles require a high-level understanding of IT systems as well as excellent communication and interpersonal skills.
                                        <br>
                                        IT Recruiter - Is responsible for indentifying talent, advertising and filling IT related job vacancies.
                                        <br>
                                        IT Sales Support – Is responsible for researching and configuring IT hardware and software solutions and compiling sales quotes.
                                        <br>
                                        <br>
                                        <br>
									</p>
								</div>
							</div>
						</div>

                        <div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-jet ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Networks
										<br>
										<small>
											Crafting With Love
										</small>
									</h4>
									<p class="about-description">
										Network Administrator - Supports and maintains network infrastructure such as switches, routers and firewalls.
                                        <br>
										Network Engineer - Designs and implements network infrastructure.

									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-upload ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Client Facing Jobs
										<br>
										<small>
											Available When You Need Us
										</small>
									</h4>
									<p class="about-description">
										Client support jobs typically suit friendly, sociable people with excellent communication skills.  For this reason, interviews for this type of position normally include a range of behavioral questions.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-paper-airplane ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Server and Storage
										<br>
										<small>
											Coding With Fun
										</small>
									</h4>
									<p class="about-description">
										Systems Administrator - These are technical roles that specialise in just a few technologies or operating systems.  It is common for a systems administrator to have experience with a number of different technologies that are provided by the same vendor.  For example, a Windows systems administrator with Microsoft Exchange server skills.
                                        <br>
                                        Server Administrator - Installs, configures, supports and maintains server infrastructure and server operating systems.
                                        <br>
                                        Windows Administrator - Provides Microsoft Windows platform management, configuration, design, training and expertise.
                                        <br>
                                        Windows Systems Engineer - Plans, designs, configures, installs, maintains and troubleshoots Windows systems.

									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Process Jobs
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Process driven jobs include any role that requires thought and reorganisation into the way that things are done.
                                        <br>
                                        Process roles analyse and refine workflows, work practices and approval processes to ensure efficiency, risk management, rich communications, accountability, quality or client relations.
                                        <br>
                                        Change Manager - Ensures that IT related changes in an organisation are managed in terms of risk, impact and reporting.  
                                        <br>
                                        Incident Manager - Required to coordinate technical staff from many different teams when there is a major system failure.
                                        <br>
                                        IT Auditor - Conducts and reports audit findings making recommendations for improving processes, ensuring compliance, improving operations, reducing costs and mitigating risk.

									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-help-buoy ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Database
										<br>
										<small>
											Available When You Need Us
										</small>
									</h4>
									<p class="about-description">
										Database Administrator (DBA) - Ensures the proper operation of business systems software concerned with the storage and processing of large quantities of data.  Some widely used database software platforms include Oracle, Microsoft SQLServer and MySQL.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-heart-broken ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Security
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Security Administrator - Security roles vary in scope and skills.  Some security roles are tied closely with vendor firewall software, patch management, virus scanners or IPS / IDS while other security roles are policy based and do not have a specific technical requirement associated with the role.
									</p>
								</div>
							</div>
						</div>

						<div class="col-md-6 col-sm-6 wow flipInX">
							<div class="about-row">
								<div class="about-icon">
									<i class="icon ion-speakerphone ion-3x highlight">
									</i>
								</div>
								<div class="about-info">
									<h4>
										Help Desk / Service Desk
										<br>
										<small>
											New York Based
										</small>
									</h4>
									<p class="about-description">
										Help Desk Analyst – This role is the first line of assistance for all IT related queries from business users.
                                        <br>
										Help Desk Team Leader - Monitors, motivates and manages service desk team members.

									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End About-->
