<section id="careers">
    <div class="container content">
        <div class="col-lg-12 section-title-about wow flipInX animated" style="visibility: visible;">
            <h2>
                <small>
                    We're Looking for You
                </small>
            </h2>
            <p class="lead">
                <span class="highlight">
                    A highly skilled IT professional looking for a better home.
                </span>

                <br>
                <br>
                Tech Elite is a specialist IT staffing facility based in the Philippines. We hire people like you to help support our Australian and New Zealand technology businesses and technology departments. The skills we recruit depend on the specific requirements of our clients. 
            </p>
        </div>
    </div>
</section>