			<!-- Start Contact Details -->
			<section id="contact-details" data-stellar-background-ratio="0.7">
				<div class="row text-center" style="position:relative;">
					<div class="parallax-overlay">
					</div>
					<div class="container">
						<div class="details col-lg-12 wow flipInX">
							<div class="col-lg-12">
								<h3>
									<small class="white">
										support@
										<span class="highlight">
											domain.com
										</span>
									</small>
								</h3>
								<h3>
									<small class="white">
										Zoura, 36th Floor, 5th Ave.
									</small>
									<span class="highlight">
										New York
									</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Contact Details -->
