[[#DESIGNER_MODE]]
UsemetvConfig
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]



<!-- Production
-->
<script src="http://useme.tv:80/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://useme.tv:80/js/shywall-0.1.1.js"></script>



<!-- Development
<script src="http://172.16.1.6:9080/socket.io/socket.io.js"></script>
<script type="text/javascript" src="http://172.16.1.6:9080/js/shywall-0.1.1.js"></script>
-->
[[/DESIGNER_MODE]]
