[[#DESIGNER_MODE]]
HOME-PARALLAX-2
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]

			<!-- Start Separator #2 -->
			<section id="separator-2" data-stellar-background-ratio="0.8" data-stellar-vertical-offset="250">
				<div class="container">
					<div class="row">
						<div class="col-md-6 separator-2-content wow flipInX">
						</div>
					</div>
				</div>
			</section>
			<!-- End Separator #2 -->
[[/DESIGNER_MODE]]
