<section class="section-flight-label">
    <div class="container-fluid content">
        <div class="col-xs-12">
            <h2 id="skyscanner-flight-label"></h2>
        </div>
    </div>
</section>

<section class="skyscanner-prices-section">
    <div class="container-fluid content">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h4 id="skyscanner-outbound-label">Outbound</h4>
            <div id="skyscanner-outbound-graph" onclick="rotateBody()"></div>
        </div>
    </div>
</section>
        
<section class="skyscanner-prices-section">
    <div class="container-fluid content">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h4 id="skyscanner-inbound-label">Inbound</h4>
            <div id="skyscanner-inbound-graph" onclick="rotateBody()"></div>
        </div>
    </div>
</section>
        
