<div class="service">
    <img class="bs3-service-icon" src="/ttsvr/bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            ToolTwist Designer
            <br>
            <small>
                Skills Convergence
            </small>
        </h4>
        <p class="service-description">
            A design tool for technical and non-technical people, enabling people with
            different skill sets to collaborate within an office, or around the world.
        </p>
    </div>
</div>
