        
		<!--Start Home-->
		<section id="home-slideshow" class="home-fullscreen-slider" data-stellar-background-ratio="0.5" data-stellar-vertical-offset="">
			<div class="parallax-overlay">
			</div>
			<div class="home-container text-center">
				<div class="home-title liquid-slider" id="slider-home">
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Something You Love
							</strong>
						</h1>
						<p class="lead">
							We are digital agency that loves crafting beautiful websites with great functionality.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">WE'RE CREATIVE</a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								We Make Brands Shine
							</strong>
						</h1>
						<p class="lead">
							We do innovation, creativity, effectiveness and all that with love.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">WHAT WE DO</a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Best Digital Agency
							</strong>
						</h1>
						<p class="lead">
							Zoura was honored as best agency at EdAwards in New York.
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">MADE WITH <i class="icon ion-heart"></i></a>
							</h4>
						</div>
					</div>
					<div>
						<h1>
							<small class="white">
								We Are Zoura
							</small>
							<br>
							<strong>
								Nice to Meet You
							</strong>
						</h1>
						<p class="lead">
							Let's meet up and see if there's chemistry!
						</p>
						<div class="home-btn">
							<h4 class="btn-home">
								<a href="#about">MEET THE TEAM</a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--End Home-->