		<!--Start Home-->
		<section id="home-slideshow" class="home-fullscreen-slider">
				<img class="img-responsive" src="/ttsvr/bs3/images/marvin1-1.jpg_1920x1080.jpg" [[#DESIGNER_MODE]]
				style="max-height:300px;"[[/DESIGNER_MODE]]>
			<div class="parallax-overlay">
			<div class="home-container text-center">
				<div class="home-title liquid-slider" id="slider-home">
					<div>
						<h1>
							<strong>
								Meet Marvin
							</strong>
						</h1>
					</div>
					<div>
						<h2>
							<strong>
								Our Frankenstein Developer
							</strong>
						</h2>
					</div>
				</div>
			</div>
        </div>
    </section>
    <!--End Home-->
