[[#DESIGNER_MODE]]
<div id="tt-new-widget">
	usemetv_pageControl
</div>
[[/DESIGNER_MODE]]
[[^DESIGNER_MODE]]
<!-- shywall
	<script src="http://172.16.1.6:9080/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="http://172.16.1.6:9080/js/shywall-0.1.1.js"></script>

    <input type="hidden" id="usemetv-idlePage" value="/ttsvr/n/[[property.idlePage]]">
    <input type="hidden" id="usemetv-backPage" value="/ttsvr/n/[[property.backPage]]">
-->
[[/DESIGNER_MODE]]
