[[#DESIGNER_MODE]]
	Google Map Image Only
[[/DESIGNER_MODE]]

[[^DESIGNER_MODE]]
	<div id="map-image">
        <a href="//www.google.com.ph/maps/place/Technology+Elite,+Inc./@15.177696,120.526342,17z/data=!3m1!4b1!4m2!3m1!1s0x339692aa966fc3a3:0x19846d21f399745a?hl=en" target="_blank"></a>
	</div>
[[/DESIGNER_MODE]]
