<!-- Start Separator Video -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow flipInX">
                <div class="content-block">
	            	[[&CHILD-FLOW-CONTENT-BLOCK]]
                </div>
            </div>
        </div>
    </div>
</section>