            <!-- Start Team -->
			<section id="team">
				<div class="container">
					<div class="col-lg-12 section-title-team wow flipInX">
						<h2>
                            The Management Team
						</h2>
						<p class="lead">
                            Experience and passion combined gets the job <span class="highlight">done right</span>... the first time.
                            <br/>
                            We are a group of Australians, bringing in clients from Australia,
                            but with live and work in the Philippines because we love the
                            country and the people. Of all the places in the world we could set up
                            a company, this is where we choose to be!
						</p>
					</div>
					<div class="row">
						<!-- Team Box 1 -->
						<div class="col-md-3 col-sm-3 animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="300">
							<div class="team-box text-center">
								<!-- img -->
								<img src="/ttsvr/cropImage/techelite.images.robert_watson.jpg" width="270" height="270" class="img-responsive center-text" alt="">
								<!-- Title -->
								<h4>
									Robert Watson
								</h4>
								<h5>
									General Manager
								</h5>
								<p>
									Rob has over 20 years experience in IT systems administration,
                                    technical support, project implementation, project management,
                                    training delivery and team management.  He also has 13 years
                                    experience in establishing and running IT services and training
                                    companies in both Australia and the Philippines.
								</p>
								<!-- Social Icons -->
								<ul class="list-inline">
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="http://ph.linkedin.com/in/robertjohnwatson"><i class="fa fa-linkedIn"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Team Box 2 -->
						<div class="col-md-3 col-sm-3  animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">
							<div class="team-box text-center">
								<!-- img -->
								<img src="/ttsvr/cropImage/techelite.images.scott_jones.jpg" width="270" height="270" class="img-responsive center-text" alt="">
								<!-- Title -->
								<h4>
									Scott Linden Jones
								</h4>
								<h5>
									Director
								</h5>
								<p>
									Scott is an author and consultant on global resourcing
                                    for Australian and New Zealand businesses.
                                    He also has 15 years experience in running technology services
                                    businesses in Australia and over five years experience running
                                    Filipino technical teams.
								</p>
								<!-- Social Icons -->
								<ul class="list-inline">
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-pinterest"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Team Box 3 -->
						<div class="col-md-3 col-sm-3  animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
							<div class="team-box text-center">
								<!-- img -->
								<img src="/ttsvr/cropImage/techelite.images.philip_callender.jpg" width="270" height="270" class="img-responsive center-text" alt="">
								<!-- Title -->
								<h4>
									Philip Callender
								</h4>
								<h5>
									Director
								</h5>
								<p>
									Phil has over 25 years experience in running software development firms
                                    in Australia and Asia.  With over 10 years experience in running and
                                    optimising IT teams in the Philippines Phil is also extremely
                                    knowledgeable with respect to team cultural differences and dynamics.
								</p>
								<!-- Social Icons -->
								<ul class="list-inline">
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="http://ph.linkedin.com/in/philipcallender"><i class="fa fa-linkedin"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- Team Box 4 -->
						<div class="col-md-3 col-sm-3  animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="600">
							<div class="team-box text-center">
								<!-- img -->
								<img src="/ttsvr/cropImage/techelite.images.aravind_naidu.jpg" width="270" height="270" class="img-responsive center-text" alt="">
								<!-- Title -->
								<h4>
									Aravind Naidu
								</h4>
								<h5>
									Director
								</h5>
								<p>
									Arv has over 20 years experience in directing and implementing ICT projects
                                    across Asia and Australia.  He has consulted to banks and telecommunications
                                    firms and has immensely broad project experience across both the hardware
                                    and software arenas.
								</p>
								<!-- Social Icons -->
								<ul class="list-inline">
									<li>
										<a href="#"><i class="fa fa-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook"></i></a>
									</li>
									<li>
										<a href="http://au.linkedin.com/in/aravindnaidu"><i class="fa fa-pinterest"></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End Team -->
