<section id="instructions">
    <div class="container content">
        <div class="col-xs-12 wow flipInX">
            <!--
            <p class="lead">
                Select a category on your phone, and we'll show you some
                <span class="highlight">
                    great
                </span>
                 destinations and prices!
            </p>
            -->
            <h4 class="text-center">
                <small>
                    <br/>
                    Select a category on your phone, and we'll find you
                    <br/>
                    great
                    <span class="highlight">
                     destinations
                    </span>
                        and
                    <span class="highlight">
                        prices
                    </span>
                        !
                    <br>
                </small>
                <br>
            </h4>
        </div>
    </div>
</section>
