<section id="hundredsOfFlights">
    <div class="container content">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="well">
                <h4>This display scans...</h4>
                <div class="home-container text-center">
                    <div class="home-title liquid-slider" id="slider-home">
                        <div>
                            <h4>
                                <strong>
                                    hundreds of airlines
                                </strong>
                            </h4>
                        </div>
                        <div>
                            <h4>
                                <strong>
                                    thousands of flights
                                </strong>
                            </h4>
                        </div>
                        <div>
                            <h4>
                                <strong>
                                    millions of connections
                                </strong>
                            </h4>
                        </div>
                    </div>
                </div>
                <h4 style="text-align:right;">...to find you the best price.</h4>
                <!--
                <h4 style="text-align:right;">...so you don't have to.</h4>
                -->
			</div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</section>
