<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            UseMe.tv
            <br>
            <small>
                Remote Controlled Digital Displays
            </small>
        </h4>
        <p class="service-description">
            Let people control you digital displays using their phone, without downloading an App.
        </p>
    </div>
</div>
