<div class="service">
    <img class="bs3-service-icon" src="../bs3/images/tt-designer-icon.png_500x500.png">
    <div class="service-info">
        <h4>
            Technology Elite
            <br>
            <small>
                Tech. Support Services
            </small>
        </h4>
        <p class="service-description">
            Offshored support services.
        </p>
    </div>
</div>
