[[#DESIGNER]]
<div class="ttDesigner-widget-label"><div>
bs3_section [[#property.id]]#[[property.id]]: [[/property.id]] [[property.class]]
    </div></div>
[[/DESIGNER]]
[[^DESIGNER]]
SECTION
<section id="[[property.id]]" class="[[property.class]]">
[[/DESIGNER]]
	[[&CHILD-FLOW]]
[[^DESIGNER]]
</section>
[[/DESIGNER]]
